# Socrata aka City datahub (1pass: Socrata Key ID, Secret, and Token)
SO_WEB=<endpoint>
SO_KEY=<apiKeyId>
SO_SECRET=<apiKeySecret>
SO_TOKEN=<appToken>

# Maximo Data Warehouse DB (1pass: Maximo Data Warehouse)
MAXIMO_DB_USER=<db username>
MAXIMO_SERVICE_NAME=<service name>
MAXIMO_PORT=<port>
MAXIMO_HOST=<host>
MAXIMO_DB_PASS=<db password>
MAXIMO_BASE_URL=<base url>
